
.bodyCategorias {
    padding-top: 120px;
    text-align: center;
    height: 500px;
  }
  .bodyCategorias h2 {
    font-size: 40px;
  }
  .bodyHome {
    padding-top: 125px;
    text-align: center;
    height: 2000px;
  }
  .h2Category {
    font-size: 35px;
    color: transparent;
    background-image: linear-gradient(30deg, rgb(240, 0, 0), rgb(255, 108, 211));
    -webkit-background-clip: text;
    background-clip: text;
    font-family: "Anton", sans-serif;
    letter-spacing: 3px;
  
    padding: 0;
    margin-top: 10px;
  }


  @media screen and (min-width: 320px) and (max-width: 740px){


    .bodyHome {
      background-image: url("../../img/layered-peaks-haikei\ \(5\).svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  height: 7200px;
  width: 100%;
  padding-top: 25px;
 
    }
    .bodyCategorias {
      padding-top: 20px;
      text-align: center;
      height: 1900px;
      background-image: url("../../img/layered-peaks-haikei\ \(5\).svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 60%;
      width: 100%;
    }

    }
    @media screen and (min-width: 741px) and (max-width: 1200px)
    {
     .bodyHome{
       display: none;
     }
     .bodyCategorias{
       display: none;
     }
 
    }

    @media screen and (min-width: 0px) and (max-width: 319px)
    {
     .bodyHome{
       display: none;
     }
     .bodyCategorias{
       display: none;
     }
 
    }